# -*- mode: sh -*-
# {{ansible_managed}}

MARATHON_hostname="{{ host_ip }}"
#MARATHON_work_dir=/data
#MARATHON_log_dir=/mesoslog

MARATHON_master="{{ mesos_zookeeper_masters }}"
MARATHON_zk="{{ base_zookeeper_masters }}/marathon"

# 5min, matches what we use for the slaves
#MARATHON_task_launch_timeout=3001000
