# -*- mode: sh -*-
# {{ansible_managed}}

MESOS_ip="{{ host_ip }}"
MESOS_hostname="{{ host_ip }}"
MESOS_work_dir=/var/lib/mesos
MESOS_log_dir=/var/log/mesos
MESOS_quorum="{{ mesos_quorum }}"
MESOS_cluster="{{ mesos_cluster }}"

MESOS_zk="{{ mesos_zookeeper_masters }}"
